/* RESET  */

body{
    margin: 0;
    padding: 0;
    font-family: century;
    
}

/* FIM DO RESET  */





/* HEADAER E MENU*/
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;

}

header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header .logo2{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    display: none;
}


header nav{
    float: right;
}

header nav ul{
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}


header nav ul li a:hover,
header nav ul li a.active
{
    color: #fff;  
    background: #2196f3;  
}



/* Hambuguer e X  */
.menu-toggle{
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 92%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    display: none; 
}

.menu-toggle span{
    cursor: pointer;
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    height: 4px;
    
    transition: .5s;
}

.menu-toggle span:nth-child(even){
    left: 40%;
}

.menu-toggle span:nth-child(1),
.menu-toggle span:nth-child(2)
{
   top: 0;
}

.menu-toggle span:nth-child(3),
.menu-toggle span:nth-child(4)
{
   top: 10px;
}


.menu-toggle span:nth-child(5),
.menu-toggle span:nth-child(6)
{
   top: 20px;
}

.menu-toggle.active span:nth-child(3){
    transform: translateX(-10px);
    opacity: 0;
}

.menu-toggle.active span:nth-child(4){
    transform: translateX(10px);
    opacity: 0;
}

.menu-toggle span:nth-child(1){
    transform-origin: top left;
}

.menu-toggle span:nth-child(2){
    transform-origin: top right;
}

.menu-toggle.active span:nth-child(1){
    transform: rotate(45deg);
    top: 1px;
    left: 7px;
}

.menu-toggle.active span:nth-child(2){
    transform: rotate(-45deg);
    top: 1px;
    left: calc(50% - 7px);
}

.menu-toggle span:nth-child(5){
    transform-origin: bottom left;
}

.menu-toggle span:nth-child(6){
    transform-origin: bottom right;
}

.menu-toggle.active span:nth-child(5){
    transform: rotate(-45deg);
    bottom: 1px;
    left: 7px;
}

.menu-toggle.active span:nth-child(6){
    transform: rotate(45deg);
    bottom: 1px;
    left: calc(50% - 7px);
}
/* Fim do  Hambuguer e X   */



/* Menu - CELULAR e TABLET */
@media (max-width: 991px){

    header{
        padding: 0 20px;
    }

    .menu-toggle{
        color: #fff;
        float: right;
        font-size: 24px;
        line-height: 50px;
        cursor: pointer;
        display: block;
    }

    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul a{
       border-bottom: 1px solid rgba(0,0,0,.2);
    }

    
    header .logo{
        display: none;
    }

    
    header .logo2{
        display: block;
    }


}
/* FIM DO Menu - CELULAR e TABLET  */
/* FIM DO HEADAER e Menu*/









.fundo{
    background: url(../img/fundo3.jpg);
    background-attachment: fixed;
    background-position-y: center 15%;
    background-position-x: center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

